version: '3.8'

services:
  # 1. 스프링 부트 (Backend)
  backend:
    #build: .             # 현재 폴더의 Dockerfile을 사용
    image: shak4168/shak-site:latest
    container_name: shop-backend
    restart: always
    ports:
      - "8081:8081"      
    environment:
      # DB 정보는 본인 환경에 맞게 수정
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      SPRING_DATASOURCE_URL: jdbc:mysql://172.16.0.6:3306/shop
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      file.dir: /app/images/

    volumes:
        # 서버폴더 : 컨테이너폴더 연결
        # 서버의 ./images 폴더를 컨테이너 내부의 /app/images 로 연결합니다.
        - ./images:/app/images

  # 2. Nginx (Web Server)
  nginx:
    image: nginx:latest
    container_name: shop-nginx
    restart: always
    ports:
      - "80:80"          # 사용자는 80포트로 접속 -> 내부에서 8081로 전달됨
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend