version: '3.8'

services:
  # 1. 스프링 부트 (Backend)
  backend:
    #build: .             # 현재 폴더의 Dockerfile을 사용
    image: shak4168/shak-site:latest
    container_name: shop-backend
    restart: always
    ports:
      - "8081:8081"      
    environment:
      # DB 정보는 본인 환경에 맞게 수정
      SPRING_DATASOURCE_URL: jdbc:mysql://172.16.0.6:3306/shop
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

  # 2. Nginx (Web Server)
  nginx:
    image: nginx:latest
    container_name: shop-nginx
    restart: always
    ports:
      - "80:80"          # 사용자는 80포트로 접속 -> 내부에서 8081로 전달됨
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend