server:
  port: 8081

spring:
  mvc:
    welcome-page-handler-mapping-enabled: false
  
  datasource:
    # MySQL 연결 설정
    url: jdbc:mysql://localhost:3306/shop?useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: admin
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
    
    # HikariCP 설정
    hikari:
      maximum-pool-size: 10       # [중요] 1GB 서버 생존을 위한 제한
      minimum-idle: 5
      connection-timeout: 10000   # 10초 안에 연결 안 되면 에러 발생 (병목 방지)
      validation-timeout: 3000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    open-in-view: false           # [최적화] 커넥션 빨리 반납하기 (필수)
    properties:
      hibernate:
        # [성능] 부하 테스트 땐 SQL 로그 절대 찍으면 안 됨 (다 끔)
        format_sql: false
        show_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
        default_batch_fetch_size: 100

  # H2 콘솔 (필요 없다면 주석 처리 권장)
  #h2:
    #console:
      #enabled: true
      #path: /h2-console
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# 로깅 레벨 조정 (디스크 보호)
logging:
  level:
    root: INFO
    org.hibernate.SQL: ERROR      # 쿼리 로그 끔
    org.hibernate.type.descriptor.sql: ERROR # 파라미터 로그 끔
jwt:
  # 실제 배포(AWS)시에는 환경변수 'JWT_SECRET'을 사용하고, 
  # 로컬 개발(없을 때)시에는 뒤에 있는 임시 키를 사용
  secret: ${JWT_SECRET:V2hhdGlzVGhlTW9zdEltcG9ydGFudFRoaW5nSW5MaWZlSXSlc0HwcGluZXNzQW5kSGVhbHRo}

encryption:
  # 32자 이상의 임의의 문자열 (실무에선 절대 노출 금지 -> 환경변수 처리)
  secret: ${ENCRYPTION_KEY:MySecretKeyForAes256Test12345678}