name: Deploy to NCP

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. 소스 코드 가져오기
    - name: Checkout Source Code
      uses: actions/checkout@v4

    # 2. Java 17 환경 설정
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # 3. Gradle 실행 권한 부여
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # 4. Spring Boot 빌드 (시간 단축을 위해 테스트는 제외)
    - name: Build with Gradle
      run: ./gradlew clean bootJar -x test

    # 5. Docker Hub 로그인 (이미지 업로드용)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 6. Docker 이미지 빌드 및 푸시
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/shak-site:latest

    # 7. 서버의 설정 파일(docker-compose.yml) 최신화
    #  수정한 볼륨 설정 등을 서버에 덮어씌워 줌
    - name: Copy Docker Compose file to Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        source: "docker-compose.yml,nginx.conf"
        target: "/root/Spring_Project/"

    # 8. 서버 접속 및 배포 실행 (SSH)
    # 여기서 'Stop & Start' 전략을 사용
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          # 1. 프로젝트 폴더로 이동
          cd ~/Spring_Project
          
          # 2. 도커 로그인 (보안 인증)
          echo "GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}" > .env
          echo "GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}" >> .env
          echo "DB_USERNAME=${{ secrets.DB_USERNAME }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
          echo "ENCRYPTION_KEY=${{ secrets.ENCRYPTION_KEY }}" >> .env
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          
          # 메모리 부족 해결을 위한 조치
          # 기존 서버를 완전히 종료하여 메모리를 100% 비워쥼
          # 이 과정이 없으면 켜져있는 상태에서 새걸 띄우려다 143 에러
          docker-compose down
          
          # 3. 최신 이미지 당겨오기
          docker-compose pull
          
          # 4. 깨끗한 상태에서 다시 실행
          docker-compose up -d
          
          # 5. 불필요한 구버전 이미지 삭제
          docker image prune -f