name: Deploy to NCP

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. 코드 가져오기
    - name: Checkout Source Code
      uses: actions/checkout@v4

    # 2. Java 17 세팅
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # 3. Gradle 실행 권한 부여
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # 4. Spring Boot 빌드 (테스트 제외 - 시간 단축)
    - name: Build with Gradle
      run: ./gradlew clean bootJar -x test

    # Docker Hub 로그인
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 5. Docker 이미지 빌드 및 도커 허브 업로드
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/shak-site:latest

    # 로컬의 최신 docker-compose.yml 파일을 서버로 전송(덮어쓰기) 합니다.
    - name: Copy Docker Compose file to Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        source: "docker-compose.yml"        # 깃허브에 있는 파일
        target: "/root/Spring_Project/"     # 서버에 저장할 위치 

    # 6. NCP 서버에 접속해서 배포 실행 (SSH)
    # (docker-compose 방식)
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          # 1. 프로젝트 폴더로 이동 (폴더명 정확해야 함)
          cd ~/Spring_Project
          
          # 2. 도커 허브 로그인 (혹시 연결 끊겼을까봐)
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          
          # 3. 최신 이미지 당겨오기 (Pull)
          # docker-compose.yml에 적힌 이미지를 가져옵니다.
          docker-compose pull
          
          # 4. 컨테이너 교체 및 재실행 (Up)
          # 이미지가 변경된 것만 감지해서 갈아끼워줍니다.
          docker-compose up -d
          
          # 5. 미사용 이미지 정리 (용량 확보)
          docker image prune -f